* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 0.8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

li {
    list-style-type: none;
}

nav .nav,
nav .nav-logo {
    margin: 0.5rem;;
    display: inline;
}

#intro {
    padding: 2rem 10% 3rem 10%;
    text-align: center;
}

#intro h2,
#intro p {
    margin-bottom: 1rem;
}

#intro button {
    color: white;
    font-weight: 700;
    background-color: #c2195b;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1em;
}

#succeed-info {
    padding: 2rem 10% 3rem 10%;
}

#succeed-info h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#succeed-info h3 {
    margin-bottom: 1rem;
}

#succeed-info .card {
    margin: 1rem 0;
}

#pre-footer {
    color: white;
    background-color: #003256;
    padding: 2rem;
}

#pre-footer div {
    display: inline-block;
    margin-right: 5rem;
}

#pre-footer p {
    font-size: 0.8rem;
}

footer {
    padding: 0.5rem;
}